@import url(https://fonts.googleapis.com/css?family=Nova+Mono)

$bg: #000000
$fg: #aaaaaa
$font: "Nova Mono", monopace
html, body
  height: 100%
  margin: 0

body
  background: $bg
  color: $fg
  display: flex
  flex-direction: column

  .chats
    display: flex
    flex: 1
    flex-direction: column-reverse
    font-size: 16px
    overflow-y: auto

    .chat
      font-family: $font
      padding: 0 1em

      .user
        cursor: pointer

  .chat-input
    margin-top: .5em
    flex: 0
    display: flex

    .chat-prompt
      padding: .25em
      flex: 1
      width: 100%
      font-size: 16px
      font-family: $font
      color: $fg
      background: lighten($bg, 5%)
      border: none
      outline: none

#login-buttons
  padding: .5em
  font: $font

  .login-link-text
    text-decoration: none

  #login-dropdown-list
    top: auto
    bottom: 1px
