@import url(https://fonts.googleapis.com/css?family=Nova+Mono)

$bg: #000000
$fg: #aaaaaa
$font: "Nova Mono", monospace
html, body
  height: 100%
  margin: 0

body
  background: $bg
  color: $fg
  display: flex
  flex-direction: column

  .chats
    display: flex
    flex: 1
    height: 100%
    min-height: 0

    .user-list
      font-family: $font
      display: flex
      font-size: 14px
      overflow-x: hidden
      overflow-y: auto
      flex-direction: column
      flex: 1
      border-right: 1px solid lighten($bg, 10%)
      border-left: 1px solid lighten($bg, 10%)
      -moz-user-select: none
      -webkit-user-select: none

      .user
        cursor: pointer
        transition: 250ms

        &:hover
          background: lighten($bg, 5%)

        &:active
          background: lighten($bg, 10%)

    .drawing-area
      cursor: crosshair
      -moz-user-select: none
      -webkit-user-select: none
      flex: 10

    .chat-list
      display: flex
      flex: 10
      flex-direction: column-reverse
      font-size: 16px
      overflow-y: auto

      .chat
        font-family: $font
        padding: 0 1em
        animation: talk 500ms

        .user
          cursor: pointer

    .features-toggle
      display: flex
      flex-direction: column

      button
        margin: .1em
        border: 1px solid $fg
        background: $fg
        color: $bg
        font-size: 2em
        &.pressed
          background: $bg
          color: $fg

  .chat-input
    margin-top: .5em
    display: flex

    .chat-prompt
      padding: .25em
      flex: 1
      width: 100%
      font-size: 16px
      font-family: $font
      color: $fg
      background: lighten($bg, 5%)
      border: none
      outline: none
  footer
    font-family: $font
    font-size: .5em
    text-align: right
    color: lighten($bg, 25%)
    a
      color: lighten($bg, 35%)

#login-buttons
  padding: .5em
  font-family: $font

  .login-link-text
    text-decoration: none

  #login-dropdown-list
    top: auto
    bottom: 1px

@keyframes talk
  from
    transform: rotateX(90deg)
    opacity: .2
  to
    transform: rotateX(0)
    opacity: 1
